params {
    // Diretório base para dados de bancos
    ips_data_dir = '${projectDir}/data/eukaryotes/db/interproscan/interproscan-5.75-106.0/data'
    ips_formats= 'tsv,gff3'   // formatos de saída principais
}

process {
    executor = 'slurm'         
    cpus = 8
    memory = '32 GB'
    time = '72h'
    queue = 'SP2'  // ajuste conforme seu sistema HPC
    beforeScript = 'module load apptainer/1.3.1 || true' // ajuste conforme seu sistema HPC
    env = [
        'APPTAINER_CACHEDIR': "${projectDir}/apptainer_cache",
        'APPTAINER_TMPDIR': "${projectDir}/apptainer_cache/tmp",
        'NXF_APPTAINER_CACHEDIR': "${projectDir}/apptainer_cache"
    ]

    // Configuração específica por ferramenta
    withLabel: kofamscan {
    container = 'quay.io/biocontainers/kofamscan:1.3.0--0'
    }
    withLabel: gffread {
    container = 'quay.io/biocontainers/gffread:0.12.7--h9a82719_0'
    }
    withLabel: interproscan {
    container = 'interpro/interproscan:5.75-106.0'
    // O containerOptions é preenchido pelo profile (docker/apptainer) para fazer o bind do data dir
    containerOptions = "--bind ${params.ips_data_dir}:/opt/interproscan/data"
    }
}
   // depois você adiciona outras ferramentas aqui
singularity {
    enabled = true
    // cache para imagens
    cacheDir = "$projectDir/apptainer_cache"
}
